/* You can add global styles to this file, and also import other style files */

/* 11.1kb */
/* @import url('https://fonts.googleapis.com/css?family=Lemon&display=swap'); */

/* ONLY 1.1kb !!! */
@import url('https://fonts.googleapis.com/css?family=Lemon&display=swap&text=StressrBuiltbywassimcheghamlove@manekinekko()');

* { box-sizing: border-box; position:relative;}

body, html {
  background: #64c4ff;
  font-family: "lato", sans-serif;
  color: rgba(255,255,255,1);
  margin: 0;
}

footer {
  font-family: "Lemon", cursive;
  font-size: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

footer a {
  color: white;
}
